.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: .5rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.top-bar {
  position: relative;
}

.downloadLink {
  position: absolute;
  top: 14px;
  right: 0;
  color: #2c3e50;
  cursor: pointer;
}

.firstFirstName {
  display: block;
  flex: 1 0 180;
  margin: auto;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.firstFirstName:focus {
  outline: none;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.26), 0 0 0 1px rgba(0,0,0,0.18);
}
